/* CSS for all */

body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8B63A6;
    text-align: center;
}
.container {
    display: flex;
    width: 1050px;
    padding: 70px 40px;
    background: #CDC1D9;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

/* Home Page */

.homePage {
    flex-direction: column;
}

.homePage h1 {
    font-size: 2.5rem;
}

.homePage p {
    font-size: 20px;
}

.homePage p b {
    color:#513973
}

/* Start button */

.startBtn button {
    padding: 20px 40px;
    margin: 30px 20px;
}

/* Game Over/You Won window */

.game-ends {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    pointer-events: none;
}

.game-ends.show {
    opacity: 1;
    pointer-events: auto;
}

.game-ends .content {
    padding: 15px;
    max-width: 420px;
    width: 100%;
    border-radius: 40px;
    background: #CDC1D9;
}

.game-ends h2 {
    font-size: 1.8rem;
}

.game-ends p {
    font-size: 1.15rem;
    margin: 20px 0 50px;
    font-weight: 400;
}

.game-ends p b {
    color: #513973;
}

.game-ends button {
    padding: 20px 40px;
}

/* game board  */
/* left side  */

.hangman img {
    max-width: 350px;
    margin-left: 65px;
}

.hangman h1 {
    font-size: 1.8rem;
    margin-top: 15px;
    text-transform: uppercase;
}

.level{
    color:#513973;
    font-weight: 800;
}

/* right side */
/* the word */

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board .timer{
    font-size: 24px;
    margin-bottom: 80px;
}

.game-board #timer{
    font-weight: bold;
    font-size: 30px;
    color:#513973
}

.game-board .word {
    gap: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.word .letter {
    width: 30px;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #956BBF;
}

.word .letter.guessed {
    border-color: transparent;
}

.game-board h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.game-board h3 b {
    font-weight: 900;
}

/* keyboard */

.game-board .keyboard {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}

:where(.startBtn, .game-ends, .keyboard) button {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    background: #8B63A6;
}

.keyboard button {
    padding: 7px;
    width: calc(100% / 8 - 10px);
}

.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

:where(.startBtn, .game-ends, .keyboard) button:hover {
    background: #513973;
}