/* CSS for all */

body {
    display: flex;
    padding: 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8B63A6
}

.container {
    display: flex;
    width: 850px;
    padding: 70px 40px;
    background: #CDC1D9;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

.game-ends {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    pointer-events: none;
}

.game-ends.show {
    opacity: 1;
    pointer-events: auto;
}