/* CSS for all */

body {
    display: flex;
    padding: 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8B63A6
}

.container {
    display: flex;
    width: 850px;
    padding: 70px 40px;
    background: #CDC1D9;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}

/* Game Over/You Won window */

.game-ends {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    pointer-events: none;
}

.game-ends.show {
    opacity: 1;
    pointer-events: auto;
}

.game-ends .content {
    padding: 15px;
    max-width: 420px;
    width: 100%;
    border-radius: 40px;
    background: #CDC1D9;
}

.game-ends h2 {
    font-size: 1.8rem;
}

.game-ends p {
    font-size: 1.15rem;
    margin: 20px 0 50px;
    font-weight: 400;
}

.game-ends p b {
    color: #513973;
}

.game-ends button {
    padding: 20px 40px;
}

/* game board  */

/* left side  */

.hangman img {
    max-width: 250px;
}

.hangman h1 {
    font-size: 1.8rem;
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    text-transform: uppercase;
}

/* right side */

/* the word */
.game-board .word {
    gap: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.word .letter {
    width: 30px;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 3px solid #956BBF;
}

.word .letter.guessed {
    border-color: transparent;
}